.newcollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-bottom: 100px;
    
}
.newcollections h1{
    
    color: rgb(30, 28, 28);
    font-size: 50px;
    font-weight: 600;
}
.newcollections hr{
    width: 300px;
    height: 5px;
    border-radius: 10px;
    background: rgb(12, 12, 12);
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media (max-width: 1280px) {
    .newcollections h1 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 1024px) {
    .newcollections h1 {
      font-size: 35px;
    }
  
    .collections {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 800px) {
    .newcollections h1 {
      font-size: 30px;
    }
  
    .newcollections hr {
      width: 200px;
    }
  
    .collections {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 500px) {
    .newcollections h1 {
      font-size: 25px;
    }
  
    .newcollections hr {
      width: 150px;
    }
  
    .collections {
      grid-template-columns: 1fr;
    }
  }




 