.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-left: 20px;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.1);
  
}
.nav-logo p{
  color: red;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}


.nav-menu hr {
  border-radius: 10px;
  width: 80%;
  height: 3px;
  background-color: #de2e0b;
  border: none;
}

.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 45px;

}

.nav-login-cart button {
 width: 157px;
 height: 58px;
 outline: none;
 border: 1px solid grey;
 border-radius: 75px;
 color: grey;
 font-size: 500;
 background: white;
 cursor: pointer;
}

.nav-login-cart button:active {
  background-color: rgb(214, 13, 13); 
  color: white;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  background-color: #e74c3c;
  color: #ffffff;
  border-radius: 11px;
  font-size: 14px;
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px;
    }

}
@media (max-width: 1280px) {
    .nav-menu {
      gap: 40px;
    }
  }
  
  @media (max-width: 1024px) {
    .nav-menu {
      gap: 30px;
    }
  
    .nav-login-cart {
      gap: 30px;
    }
  }
  
  @media (max-width: 800px) {
    .nav-menu {
      gap: 20px;
    }
  
    .nav-login-cart {
      gap: 20px;
    }
  }
  
  @media (max-width: 500px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-logo p {
      font-size: 28px;
    }
  
    .nav-menu {
      gap: 10px;
    }
  
    .nav-login-cart {
      gap: 10px;
    }
  }